MANCAL_WEB/MANCAL_WEB_BL/Service References/ManCal_Cbo/ManCal_Cbo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MANCAL_WCF_CBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MANCAL_WCF_CBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoCotizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCotizacion" nillable="true" type="tns:TipoCotizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCotizacion" nillable="true" type="tns:ArrayOfTipoCotizacion" />
  <xs:complexType name="TipoCotizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_tipocot" type="xs:int" />
      <xs:element minOccurs="0" name="nom_tipocot" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCotizacion" nillable="true" type="tns:TipoCotizacion" />
  <xs:complexType name="ArrayOfVendedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendedor" nillable="true" type="tns:Vendedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendedor" nillable="true" type="tns:ArrayOfVendedor" />
  <xs:complexType name="Vendedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_venta" type="xs:int" />
      <xs:element minOccurs="0" name="nom_venta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendedor" nillable="true" type="tns:Vendedor" />
  <xs:complexType name="ArrayOfTipoTarifa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoTarifa" nillable="true" type="tns:TipoTarifa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoTarifa" nillable="true" type="tns:ArrayOfTipoTarifa" />
  <xs:complexType name="TipoTarifa">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_tarifa" type="xs:int" />
      <xs:element minOccurs="0" name="nom_tarifa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTarifa" nillable="true" type="tns:TipoTarifa" />
  <xs:complexType name="ArrayOfTipoTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoTrabajo" nillable="true" type="tns:TipoTrabajo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoTrabajo" nillable="true" type="tns:ArrayOfTipoTrabajo" />
  <xs:complexType name="TipoTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_trabajo" type="xs:int" />
      <xs:element minOccurs="0" name="nom_trabajo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTrabajo" nillable="true" type="tns:TipoTrabajo" />
  <xs:complexType name="ArrayOfTipoFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoFactura" nillable="true" type="tns:TipoFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoFactura" nillable="true" type="tns:ArrayOfTipoFactura" />
  <xs:complexType name="TipoFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_factura" type="xs:int" />
      <xs:element minOccurs="0" name="nom_factura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoFactura" nillable="true" type="tns:TipoFactura" />
  <xs:complexType name="ArrayOfTipoPagoFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPagoFactura" nillable="true" type="tns:TipoPagoFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPagoFactura" nillable="true" type="tns:ArrayOfTipoPagoFactura" />
  <xs:complexType name="TipoPagoFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_pagofactura" type="xs:int" />
      <xs:element minOccurs="0" name="nom_pagofactura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPagoFactura" nillable="true" type="tns:TipoPagoFactura" />
  <xs:complexType name="ArrayOfTipoPlazoEntregaFac">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPlazoEntregaFac" nillable="true" type="tns:TipoPlazoEntregaFac" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPlazoEntregaFac" nillable="true" type="tns:ArrayOfTipoPlazoEntregaFac" />
  <xs:complexType name="TipoPlazoEntregaFac">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_plazoentregafac" type="xs:int" />
      <xs:element minOccurs="0" name="nom_plazoentregafac" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPlazoEntregaFac" nillable="true" type="tns:TipoPlazoEntregaFac" />
  <xs:complexType name="ArrayOfTipoLugarEjec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoLugarEjec" nillable="true" type="tns:TipoLugarEjec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoLugarEjec" nillable="true" type="tns:ArrayOfTipoLugarEjec" />
  <xs:complexType name="TipoLugarEjec">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_lugarejec" type="xs:int" />
      <xs:element minOccurs="0" name="nom_lugarejec" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoLugarEjec" nillable="true" type="tns:TipoLugarEjec" />
  <xs:complexType name="ArrayOfTipoLugarEntr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoLugarEntr" nillable="true" type="tns:TipoLugarEntr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoLugarEntr" nillable="true" type="tns:ArrayOfTipoLugarEntr" />
  <xs:complexType name="TipoLugarEntr">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_lugarentr" type="xs:int" />
      <xs:element minOccurs="0" name="nom_lugarentr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoLugarEntr" nillable="true" type="tns:TipoLugarEntr" />
  <xs:complexType name="ArrayOfTipoGarantia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoGarantia" nillable="true" type="tns:TipoGarantia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoGarantia" nillable="true" type="tns:ArrayOfTipoGarantia" />
  <xs:complexType name="TipoGarantia">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_garantia" type="xs:int" />
      <xs:element minOccurs="0" name="nom_garantia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoGarantia" nillable="true" type="tns:TipoGarantia" />
  <xs:complexType name="ArrayOfTipoGarantiaVal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoGarantiaVal" nillable="true" type="tns:TipoGarantiaVal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoGarantiaVal" nillable="true" type="tns:ArrayOfTipoGarantiaVal" />
  <xs:complexType name="TipoGarantiaVal">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_garantiaval" type="xs:int" />
      <xs:element minOccurs="0" name="nom_garantiaval" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoGarantiaVal" nillable="true" type="tns:TipoGarantiaVal" />
  <xs:complexType name="ArrayOfJefe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Jefe" nillable="true" type="tns:Jefe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJefe" nillable="true" type="tns:ArrayOfJefe" />
  <xs:complexType name="Jefe">
    <xs:sequence>
      <xs:element minOccurs="0" name="car_jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idn_jefe" type="xs:int" />
      <xs:element minOccurs="0" name="mai_jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_jefe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jefe" nillable="true" type="tns:Jefe" />
  <xs:complexType name="ArrayOfRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" nillable="true" type="tns:Region" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegion" nillable="true" type="tns:ArrayOfRegion" />
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_region" type="xs:int" />
      <xs:element minOccurs="0" name="nom_region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
  <xs:complexType name="ArrayOfTipoEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoEnvio" nillable="true" type="tns:TipoEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoEnvio" nillable="true" type="tns:ArrayOfTipoEnvio" />
  <xs:complexType name="TipoEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_tipoenvio" type="xs:int" />
      <xs:element minOccurs="0" name="nom_tipoenvio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoEnvio" nillable="true" type="tns:TipoEnvio" />
  <xs:complexType name="ArrayOfLugar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lugar" nillable="true" type="tns:Lugar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLugar" nillable="true" type="tns:ArrayOfLugar" />
  <xs:complexType name="Lugar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idn_lugar" type="xs:int" />
      <xs:element minOccurs="0" name="nom_lugar" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lugar" nillable="true" type="tns:Lugar" />
</xs:schema>