MANCAL_WEB/MANCAL_WEB_BL/Service References/ManCal_Login/ManCal_Login1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20462/ManCal_Login.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MANCAL_WCF" />
  <xs:element name="listaUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MANCAL_WCF" minOccurs="0" name="listaUsuarioResult" nillable="true" type="q1:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nro_perfil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MANCAL_WCF" minOccurs="0" name="listaMenuResult" nillable="true" type="q2:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>